<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Spotify Search</title>

<!-- Favicon -->
<link rel="icon" href="{{ url_for('static', filename='cropped-DKU150x150-32x32.png') }}" sizes="32x32" />
<link rel="icon" href="{{ url_for('static', filename='cropped-DKU150x150-192x192.png') }}" sizes="192x192" />
<link rel="apple-touch-icon" href="{{ url_for('static', filename='cropped-DKU150x150-180x180.png') }}" />
<meta name="msapplication-TileImage" content="{{ url_for('static', filename='cropped-DKU150x150-270x270.png') }}" />

  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
  <div class="container">
    <header class="header">
      <img src="{{ url_for('static', filename='logo.svg') }}" alt="Spotify Logo" class="logo">
      <h1>Track Search</h1>
    </header>
    <form id="recommendForm" class="search-form">
      <input type="text" id="songs" name="songs" placeholder="Enter track name" required>
      <button type="submit">Search</button>
    </form>
    <section class="results" id="results-container" style="display: none;">
      <h2 id="your-song-title">Your Song:</h2>
      <ul id="your-song"></ul>
      <h2 id="recommendations-title">Recommendations:</h2>
      <ul id="recommendations"></ul>
    </section>
  </div>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
